li {
  position: relative;
  padding: 20px;
  background-color: #404040;
  border-radius: 8px;
  transition: all 0.5s;
  
}
li span {
  position: absolute;
  top: 4px;
  right: 8px;
  transition: all 0.3s;
  font-weight: bold;
}
li span:hover {
  color: red;
  font-size: 20px;
  cursor: pointer;
}
li svg {
    margin-right: 32px;
    transition: all .3s;
}
li svg:hover{
  cursor: pointer;
  color: green;
  transform: scale(1.4);
}
.icon-active{
  color: green;
  transform: scale(1.4);
}
.text-decoration{
  text-decoration: line-through
}
li:hover{
  transform: scale(1.1);
}
